@font-face {font-family:"Segoe Script";src:url("segoesc.ttf")}
h1 {font-family:"Segoe Script";}
.link {font-family:"Segoe Script";}
body  {background-attachment:fixed}
.images {border-style:double}
#type {display:"inline";padding-top:0px;padding-left:0px;}
#links {position:absolute;top:40px;right:880px;font-size:25px;}
#frame1 {position:absolute;left:0px;}
#h2 {position:absolute;top:125px;left:500px}
#pre1 {position:absolute;top:200px;left:5px;font-family:Arial;size:5}
h1 {box-shadow: 6px 6px 6px 2px black;}





